.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#0A3464;
}

.createTitle {
  color:#89BEFC;
  font-size:12vh;
  font-family: 'Unica One', cursive;
}

.icon {
  position: fixed;
  top: 1vh;
  left: 1vh;
  color: #23538Aff;
  height: 4vh;
  width: 4vh
}

.icon:hover {
  color: #b8d8feff;
  cursor: pointer;
}



