.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0A3464;
  overflow:hidden;
}

.logo {
  max-height: 60vh;
  height: 60vh;
  margin-top: 0.5em;
}

.logoBanner {
  flex-shrink: 1;
  font-family: 'Unica One', cursive;
  font-size: 14vh;
  text-align:center;
  position:relative;
}

.logoCharacterMain {
  cursor: default;
  margin: 0;
  color: #89BEFC;
}

.logoCharacterDB {
  cursor: default;
  margin: 0;
  color:#B8D8FD;
}

.logoCharacterSmall {
  cursor: default;
  margin: 1vw 0 0 0;
  font-size: 10vh;
  color:#89BEFC;
}

.logoTitle {
  display:flex;
  flex-direction: row;
  position:absolute;
  margin:0;
  bottom: 0.5em;
  left:13vh;
  top:47vh;
  color:#23538A;
}

