.numNodesContainer {
  display: flex;
  flex-direction: row;
}

.numNodesContainer input {
  color: #b8d8fe;
  font-family: monospace;
  font-size: 2.5vh;
  margin-left: 2vh;
  border: 0;
  border-bottom: 2px solid #b8d8fe33;
  border-radius: 0;
  width: 5vw;
  transition: all .15s ease;
}

.numNodesContainer input:focus {
  background-color: #ffffff25;
}

.numNodesContainer input:hover {
  background-color: #ffffff25;
}

.icon {
  color: #0a3464ff;
  margin: 10px;
  cursor: pointer;
}

.icon:hover {
  color: #b8d8feff;
}

.iconTaskbar{
  display: flex;
  flex-direction: row;
  background-color: #1d5495ff;
  border-radius: 10%;
}

.iconTaskbarBorder{
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  border-color: #1d549533;
  padding: 3px;
}

.addressContainer {
  margin: 2vh;
  color: #b8d8fe99;
  font-family: monospace;
  font-size: 1vw;
}

.addressContainer:hover {
  color: #b8d8feff;
  cursor: pointer;
}

.titleContainer {
  font-family: 'Unica One', cursive;
  font-size: 18vh;
  margin-top: 5%;
  color: #b8d8feff;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #b8d8feff;
  background-color: #0A3464FF;
  align-items: center;
  justify-content: space-between;
}

.loadContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0A3464FF;
  align-items: center;
  justify-content: center;
  font-family: 'Unica One', sans-serif;
  font-size: 5vh;
  color:#89BEFC;
}

.loadTitle {
  font-size:12vh;
}

.loadContainer:hover {
  cursor: wait;
}

.error {
  background-color: rgb(255, 122, 122);
  border-radius: 5px;
  padding: 30px;
}

.splitView {
  display: flex;
  flex-direction: row;
}
