.createTextContainer {
    margin-top: 4vh;
    display: flex;
    background-color: #23538A;
    border-radius: 3vw;
    height: 6vw;
    width: 50vw;
}

.createCheckboxContainer {
    margin-left: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
    position: relative;
    padding-left: 5.5vh;
    cursor: pointer;
    font-size: 5vh;
    font-family: 'Unica One', monospace;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    color: #eee;
}

/* Hide the browser's default checkbox */
.createCheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    position: absolute;
    top: 1.5vh;
    left: 0;
    height: 3vh;
    width: 3vh;
    background-color: #eee;
    text-align: center;
    border-radius: 3px;
}

.checkmark {
    position: absolute;
    top: -0.5vh;
    left: 0.5vh;
    font-size: 3vh;
}

/* On mouse-over, add a grey background color */
.createCheckboxContainer:hover input ~ .checkbox {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.createCheckboxContainer input:checked ~ .checkbox {
    background-color: #23538A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.createCheckboxContainer:after {
    content: "";
    position: absolute;
    display: none;
}

.formContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.submitButton {
    flex-grow: 1;
    height: 70%;
    background-color: transparent;
    border: none;
}

.textField {
    margin-left: 0.5em;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 3.5vh;
    font-family: monospace;
    overflow-x: auto;
    color: aliceblue;
    flex-grow:4;
}

.connectToGraphButton {
    color: #0a3464ff;
    height: 4vh;
    width: 4vh
}

.connectToGraphButton:hover {
    color: #b8d8feff;
    cursor: pointer;
}

.loadingText {
    font-family: 'Unica One', cursive;
    font-size: 5vh;
    color:#89BEFC;
}

.textField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #89BEFCff;
  opacity: 1; /* Firefox */
}
  
.textField:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #89BEFCff;
}
  
.textField::-ms-input-placeholder { /* Microsoft Edge */
    color: #89BEFCff;
}

.typeChooserContainer {
    margin: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typeChooserButton {
    width: 13vh;
    height: 5vh;
    margin-left: 3vh;
    justify-self: center;
    align-self: center;
    color: #eeeeeeaa;
    border-style: solid;
    border-radius: 8px;
    border-width: 0;
    background-color: #23538Aaa;
    font-family: monospace;
    font-size: 2vh;
    font-weight: 500;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.typeChooserSelectedButton {
    width: 13vh;
    height: 5vh;
    margin-left: 3vh;
    justify-self: center;
    align-self: center;
    color: #eeeeeeff;
    border-style: solid;
    border-radius: 8px;
    border-width: 0;
    background-color: #23538Aff;
    font-family: monospace;
    font-size: 2vh;
    font-weight: 500;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}