.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 50vw;
}

.overContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.textField {
  padding: 1em 0.5em 1em 0.5em;
  font-size: 20pt;
  font-family: 'Unica One', cursive;
  overflow-x: auto;
  color: aliceblue;
  flex-grow:4;
}

.error {
  text-align:center;
  padding: 0.2em;
  background-color: rgb(255, 96, 96);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 20pt;
  font-family: 'Unica One', cursive;
}

.connectContainer {
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: center;
}

.connectButton {
  display: flex;
  background-color: #23538A;
  border-radius: 3vw;
  height: 6vw;
  transition-property: width, margin-left;
  transition: all 1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.connectTitle {
  padding-left: 3vw;
  font-family: 'Unica One', cursive;
  font-size: 6vh;
  color: #B8D8FD;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.createContainer {
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: center;
  margin-top:5vh;
  margin-bottom:5vh;
}

.createButton {
  display: flex;
  background-color: #23538A;
  border-radius: 3vw;
  height: 6vw;
  width: 6vw;
  margin-left: 13vw;
}

.createButton a {
  width: 100%;
  height: 100%;
  color: transparent;
}

.submitButton {
  flex-grow: 1;
  height: 70%;
  background-color: transparent;
  border: none;
}

.connectToGraphButton {
  color: cadetblue;
}
