.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  height: 35%;
  width: 100%;
  justify-content: space-around;
  position: relative;
}

.container > div {
  width: 100%;
}

.table {
  width:100%;
  position: absolute;
  bottom: 0;
}
