.suggestionList {
  margin: 0%;
  padding: 0%;
}

.suggestion {
  list-style-type: none;
  position: relative;
  width: 85%;
  margin-left: 5%;
  margin-right: 10%;
  padding: 5px;
  left: -5px;
  background-color: #eee;
  color: rgb(34, 98, 177);
  font-family: monospace;
  cursor: pointer;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.selected {
  list-style-type: none;
  position: relative;
  width: 85%;
  margin-left: 5%;
  margin-right: 10%;
  padding: 5px;
  left: -5px;
  background-color: rgb(34, 98, 177);
  color: #eee;
  font-family: monospace;
  cursor: pointer;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2vh;
}

.input {
  position: relative;
  width: 88%;
  margin-left: 5%;
  margin-right: 7%;
  padding: 5px;
  left:-5px;
  color: black;
  background-color: #eee;
  box-shadow: 0 0 0 1px #55AAFF;
  font-family: monospace;
}

.input:focus {
  box-shadow: 0 0 3px 2px #55AAFF;
}
